name: Prisma-POC

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t poc-app:${{ github.sha }} .

    - name: Download twistcli
      run: |
        curl -k -L \
        -u "${{ secrets.PRISMA_USER_
