name: Prisma-POC

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t poc-app:${{ github.sha }} .

    - name: Download twistcli
      env:
        PRISMA_USER: ${{ secrets.PRISMA_USER }}
        PRISMA_PASS: ${{ secrets.PRISMA_PASS }}
      run: |
        curl -k -L \
          -u "$PRISMA_USER:$PRISMA_PASS" \
          https://asia-south1.cloud.twistlock.com/india-1131962848/api/v1/util/twistcli \
          -o twistcli

        chmod +x twistcli
        ./twistcli --version

    - name: Prisma Cloud Image Scan
      env:
        PRISMA_USER: ${{ secrets.PRISMA_USER }}
        PRISMA_PASS: ${{ secrets.PRISMA_PASS }}
      run: |
        ./twistcli images scan \
          --address https://asia-south1.cloud.twistlock.com/india-1131962848 \
          --user "$PRISMA_USER" \
          --password "$PRISMA_PASS" \
          --details \
          --ci \
          --job-name github-${{ github.run_id }} \
          poc-app:${{ github.sha }}

    - name: Login to ACR
      run: |
        echo "${{ secrets.ACR_PASS }}" | docker login ${{ secrets.ACR_NAME }}.azurecr.io \
          -u ${{ secrets.ACR_USER }} --password-stdin

    - name: Push image to ACR
      run: |
        docker tag poc-app:${{ github.sha }} \
          ${{ secrets.ACR_NAME }}.azurecr.io/poc-app:${{ github.sha }}

        docker push ${{ secrets.ACR_NAME }}.azurecr.io/poc-app:${{ github.sha }}
