name: Prisma-POC

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t poc-app:${{ github.sha }} .

    - name: Download twistcli
      run: |
        curl -k -u ${{ secrets.PRISMA_USER }}:${{ secrets.PRISMA_PASS }} \
        ${{ secrets.PRISMA_URL }}/api/v1/util/twistcli -o twistcli
        chmod +x twistcli

    - name: Prisma Cloud Scan
      run: |
        ./twistcli images scan \
        --address ${{ secrets.PRISMA_URL }} \
        --user ${{ secrets.PRISMA_USER }} \
        --password ${{ secrets.PRISMA_PASS }} \
        --details \
        --ci \
        --job-name github-${{ github.run_id }} \
        poc-app:${{ github.sha }}

    - name: Login to ACR
      run: |
        echo "${{ secrets.ACR_PASS }}" | docker login ${{ secrets.ACR_NAME }}.azurecr.io \
        -u ${{ secrets.ACR_USER }} --password-stdin

    - name: Push image to ACR
      run: |
        docker tag poc-app:${{ github.sha }} ${{ secrets.ACR_NAME }}.azurecr.io/poc-app:${{ github.sha }}
        docker push ${{ secrets.ACR_NAME }}.azurecr.io/poc-app:${{ github.sha }}
